<% if authenticated? %>
  <p>Logged in as @<%= client.user.login %>. <%= link_to 'Log out?', logout_path %></p>
<% else %>
  <p>You need to <%= link_to 'login', sessions_new_path %>, bro.</p>
<% end %>

<pre><%= client.rate_limit %></pre>
